[user]
	email = svalorzen@develer.com
	name = Eugenio Bargiacchi
[core]
	editor = gvim -f
[merge]
	tool = gvimdiff -f
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
    fe = fetch
    me = merge
    reb = rebase
    txt = ! cd ${GIT_PREFIX:-.} && git grep --cached -Il '' | xargs file | grep text | cut -d: -f1
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    ignored = !git ls-files -v | grep "^[[:lower:]]"
    lg = log --color --date=local --pretty=format:'%Cred%h%Creset -%Cgreen %ad (%<(11)%ar) %C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit
[mergetool]
	keepBackup = false
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	required = true
[init]
	templatedir = ~/.git_template
