[user]
	email = svalorzen@gmail.com
	name = Svalorzen
[core]
	editor = gvim -f
	excludesfile = ~/.gitignore
[merge]
	tool = gvimdiff -f
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
    fe = fetch
    me = merge
    reb = rebase
    txt = grep --cached -Il ''
[mergetool]
	keepBackup = false
[push]
	default = simple
[color]
    ui = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	templatedir = ~/.git_template
